.header {
  height: 80px;
  width: 100%;
  background: #111;
  position: fixed;
  left: 0;
  top: 0;
}

.content {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 180px 0 50px;
}

.content__adding{
  position: fixed;
  top: 100px;
  left: 50px;
}

.adding {
  display: flex;
  justify-content: start;
  align-items: center;
}

.adding__input {
  height: 40px;
  padding: 5px;
  border: 2px solid #111;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-weight: 700;
}

.adding__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: #111;
  color: #f5f5f4;
  font-size: 2rem;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 700;
  color: #aaa;
}

.edit{
  width: 100%;
}

.edit-input{
  border: none;
  border-bottom: 2px solid #111111;
  font-weight: 700;
  width: 100%;
  padding: 0;
  font-size: 1.6rem;
}

